.booking-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .booking-form {
    margin-bottom: 30px;
    padding: 20px;
    background: url('https://images.unsplash.com/flagged/photo-1594051723956-b14e836bdeb5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW92ZXJzfGVufDB8fDB8fHww') no-repeat center center;
    background-size: cover;
    border-radius: 8px;
    color: white;
  }
  
  .booking-form h2 {
    color: #333;
    font-size: 36px;
  }
  
  .booking-form p {
    color: #777;
    font-size: 16px;
  }
  
  .booking-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .booking-form label {
    display: block;
    margin: 10px 0;
    color: #fff;
  }
  
  .booking-form input {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .booking-form button {
    background-color: #32cd32;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #28a745;
  }
  
  .map-section {
    position: relative;
  }
  
  .map-section img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .locations {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
    color: white;
  }
  
  .locations p {
    margin: 0;
  }
  